.profile__heading {
    font-size: 42px;
    line-height: 0.94;
    font-weight: 500;
    margin: 0 0 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (max-width: 320px) {
    .profile__heading {
        font-size: 27px;
        line-height: 1;
        margin: 22px auto 14px;
        text-align: center;
    }
}